// PARTIE DOSSIER ABSTRACT
@use "abstracts/mixins";
@use "abstracts/variables" as variables;

// PARTIE DOSSIER BASE 
@use "base/typographie";
@use "base/base";
@use "base/responsive";
@use "base/utils.scss";

// PARTIE DOSSIER COMPONENTS
@use "components/button";
@use "components/navbar";
@use "components/cards";



// PARTIE DOSSIER LAYOUT
@use "layout/footer";
@use "layout/header";
@use "layout/main";
@use "layout/about";
@use "layout/competences";
@use "layout/contact";
@use "layout/diplomes";
@use "layout/portfolio";
@use "layout/hero";
@use "layout/services";
@use "layout/body";
