// PARTIE DOSSIER ABSTRACT
@use "abstracts/mixins";
@use "abstracts/variables";

// PARTIE DOSSIER BASE 
@use "base/typographie";
@use "base/base";
@use "base/responsive";
@use "base/utils.scss";

// PARTIE DOSSIER COMPONENTS
@use "components/button";
@use "components/navbar";
@use "components/hero";
@use "components/about";
@use "components/diplomes";
@use "components/competences";
@use "components/contact";
@use "components/services";
@use "components/portfolio";

// PARTIE DOSSIER LAYOUT
@use "layout/footer";
@use "layout/header";
@use "layout/main";
