.about {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;         
    gap: 20%;                       

    
    > div:first-child {
        width: 70%;
    }

    
    .language {
    width: 30%;
    flex-shrink: 0;

    ul {
        display: grid;           
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 20px;          
        padding: 0;              
        margin: 0;               
    }

    li {
        list-style: none;

        img {
            width: 100%;        
            display: block;
        }
    }
}

}
