.diplomes {

    h2 {
        text-align: center;
    }

    .carousel {
        width: 100%;
        max-width: 600px;       
        margin: auto;

        .carousel-container {
            overflow: hidden;
        }

        .carousel-track {
            display: flex;
            transition: transform 0.5s ease;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                min-width: 100%;
                
                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        .carousel-buttons {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            button {
                padding: 5px 10px;
                cursor: pointer;
            }
        }
    }
}
