.hero {
    display: flex;
    justify-content: center;

    .flex-hero {
        display: flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
        text-align: center;       

        .profil {
            img {
            width: 200px;         
            border-radius: 8px;
            padding-top: 30px;
            }
        }
    }
}
