@use '../abstracts/variables';
@use "../base/responsive";

.navbar ul{
    display: flex;
    gap: 2rem;

    li{
        list-style: none;
        a{
            text-decoration: none;
            font-size: 2rem;
            padding-left: 20px;
            

            &:hover{
                text-decoration: underline;
                ;
            }
        }
    }
}



.burger-icon img{
    width: 100%;
    height: 100%;
            
}
