@use "../abstracts/variables" ;
.hero{
    h1{
        color: variables.$titre-color;
    }p{
        color:  variables.$p-color;
    }
}


.about {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;              

    > div:first-child {
        width: 100%;
        font-size: 24px;
        text-align: center;    
    }.language {
        width: 100%;
        display: flex;         
        justify-content: center;
        gap: 20px;             
        flex-wrap: wrap;       

        ul {
        display: flex;       
        padding: 0;
        margin: 0;
        gap: 20px;
        list-style: none;
    }li {
        display: block;

        img {
            width: 100px;       
            height: 100px;
            object-fit: cover;  
            display: block;
            }
        }
    }
}
