@use "../abstracts/variables" ;
.hero{
    h1{
        color: variables.$titre-color;
    }p{
        color:  variables.$p-color;
    }
}


.about {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;              

    > div:first-child {
        width: 100%;
        font-size: 24px;
        text-align: center;    
    }.language {
        ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 30px;

        li {
        img {
            width: 200px; 
            transition: transform 0.3s ease;
            animation: float 3s ease-in-out infinite;

            // Départ décalé pour chaque logo
            &:nth-child(1) { animation-delay: 0s; }
            &:nth-child(2) { animation-delay: 0.5s; }
            &:nth-child(3) { animation-delay: 1s; }
            &:nth-child(4) { animation-delay: 1.5s; }
            }
        }
    }
}

// Animation  flottement 
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}



}
