.competences {
    text-align: center;
    padding: 30px 0;

    h2 {
        margin-bottom: 30px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .row {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .skill {
            background-color: #c4002a; 
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
            min-width: 200px;
            min-height: 100px;
            text-align: center;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
