.diplomes {

    h2 {
        text-align: center;
    }

    .carousel {
        width: 100%;
        max-width: 600px;       
        margin: auto;
        position: relative; // Pour positionner les boutons

        .carousel-container {
            overflow: hidden; // Cache les slides hors vue
        }

        .carousel-track {
            display: flex; // Met les slides sur une ligne
            transition: transform 0.5s ease;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            img{
                max-width: 100%;
            }
        }

        .carousel-buttons {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            transform: translateY(-50%);

            button {
                background: rgba(0,0,0,0.5);
                color: white;
                border: none;
                padding: 10px 15px;
                cursor: pointer;
                border-radius: 50%;
                font-size: 20px;
            }
        }
    }
}
