header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    
    .logo-site{
        width: 100px;
        img{
            width: 100%;
            
        }
    }

}