
// body::before,
// body::after {
//     content: "";
//     position: fixed;
//     top: 0;
//     width: 140px;          
//     height: 100vh;          
//     background-color: #BC002D; 
//     z-index: -1;          
// }

/* Bande gauche */
body::before {
    left: 0;
}

/* Bande droite */
body::after {
    right: 0;
}

